<!-- 
      

            <div class="row"  >
                <div class="col-md-6 col-md-6 mb-4">
                    <div class="card shadow border-left-primary py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col-auto"><i class="fa fa-clock-o fa-3x "></i></div>

                                <div class="col mr-2" style="text-align: center;">
                                    <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span><h5><b>Pending Bookings Due Today</b></h5></span></div>
                                    <div class="text-dark font-weight-bold h5 mb-0"><span>{{totalBookingsToday}}</span></div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>

               
   

        
                     <div class="col-md-6 col-md-6 mb-4">
                    <div class="card shadow border-left-primary py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col-auto"><i class="fa fa-globe fa-3x "></i></div>


                                <div class="col mr-2" style="text-align: center;">
                                    <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span><h5><b>Total Pending Bookings</b></h5></span></div>
                                    <div class="text-dark font-weight-bold h5 mb-0"><span>{{totalUsers}}</span></div>
                                </div>
           
                            </div>
                       
                        
                    </div>
                </div>
            </div>
        </div>
  -->